Package: com.yourcompany.controlcenter
Name: ControlCenter
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: name
Author: name
Section: Tweaks
